# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/all/libraries/temp/backup_migrate/

error_log
/modules/README.txt
/profiles/README.txt
/sites/README.txt
/sites/example.sites.php
/sites/example.settings.local.php
/sites/development.services.yml
/sites/all/modules/backup_migrate
/sites/default/settings.php
/sites/default/default.settings.php
/themes/README.txt
/vendor
/bak
/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.htaccess
/autoload.php
/composer.json
/composer.lock
/example.gitignore
/index.php
/LICENSE.txt
/README.txt
/robots.txt
/update.php
/web.config
