# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/all/libraries/temp/backup_migrate/*
sites/all/libraries/temp/backup_migrate
vendor/drupal/drupal/*
sites/all/libraries/temp/tmp/*

error_log
/modules/README.txt
/profiles/README.txt
/sites/README.txt
/sites/example.sites.php
/sites/example.settings.local.php
/sites/development.services.yml
/sites/all/modules/backup_migrate
/sites/default/settings.php
/sites/default/default.settings.php
/themes/README.txt
/vendor
/bak
/.csslintrc
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.htaccess
/autoload.php
/composer.json
/composer.lock
/example.gitignore
/index.php
/LICENSE.txt
/README.txt
/robots.txt
/update.php
/web.config
.DS_Store
sites/.DS_Store
sites/all/libraries/temp/backup_migrate/scheduled/ScottMoffatt-2019-01-13T06-07-18.mysql.zip
sites/all/libraries/temp/backup_migrate/scheduled/ScottMoffatt-2019-01-13T06-07-18.mysql.zip.info
sites/all/libraries/temp/backup_migrate/scheduled/ScottMoffatt-2019-01-18T06-23-17.mysql.zip
sites/all/libraries/temp/backup_migrate/scheduled/ScottMoffatt-2019-01-18T06-23-17.mysql.zip.info
sites/all/libraries/temp/backup_migrate/scheduled/ScottMoffatt-2019-01-22T16-49-10.mysql.gz
sites/all/libraries/temp/backup_migrate/scheduled/ScottMoffatt-2019-01-22T16-49-10.mysql.gz.info
sites/all/libraries/temp/backup_migrate/scheduled/ScottMoffatt-2019-02-20T14-22-18.mysql.gz
sites/all/libraries/temp/backup_migrate/scheduled/ScottMoffatt-2019-02-20T14-22-18.mysql.gz.info
